.h1 {
    color: #301934;
    font-size: 24px;
}

.container {
    display: flex;
}

.left {
    height: 100%;
    width: 25%;
    background-color: #fff0f5;
}

.right {
    height: 100%;
    width: 75%;
    background-color: #fffaf0;
}

.logo {
    height: 100px;
    width: 100px;
}

.center {
    text-align: center;
}