.h1 {
    color: #301934;
}

.main {
    height: 100px;
    width: 100%;
    background-color: #ffe4e1;
}

.logo {
    height: 100px;
    width: 100px;
}

.center {
    text-align: auto;
}

.menu {
    height: 150px;
    width: 100%;
    background-color: #faf9f6;
}